/* styles.css */

html, body {
	height: 100%;
	margin: 0;
	overflow: hidden; /* 防止垂直滾動條 */
	box-sizing: border-box;
	transition: background-color 0.5s ease;
	background-color: #5a5247;
}

body {
	font-family: 'VarelaRound', sans-serif;

}

.horizontal-scroll {
	display: flex;
	flex-direction: row;
	height: 100vh; /* 讓內容區域填滿視口高度 */
	overflow-x: auto; /* 允許橫向滾動 */
	scroll-snap-type: x mandatory; /* 強制橫向滾動對齊 */
	overflow-y: hidden;
}

.section {
	min-width: 100vw; /* 每個 section 的寬度等於視口寬度 */
	height: 100vh; /* 每個 section 的高度等於視口高度 */
	display: flex;
	flex-shrink: 0; /* 防止 section 被縮小 */
	/* scroll-snap-align: center; 滾動時對齊中心 */
	box-sizing: border-box; /*包括內邊距和邊框在內*/
	position: relative;
}
.section2 {
	min-width: 100%; /* 每個 section 的寬度等於視口寬度 */
	height: 100vh; /* 每個 section 的高度等於視口高度 */
	display: flex;
	flex-shrink: 0; /* 防止 section 被縮小 */
	/* scroll-snap-align: center; 滾動時對齊中心 */
	box-sizing: border-box; /*包括內邊距和邊框在內*/
	position: relative;
}

img {
	position: relative;
	top:5vh;
	left:-10vh;
	z-index: 1;
}
.Conent_photo2{
	position: absolute;
	z-index: 2;
}

/*PHOTO Light*/
.title {
	margin: 0;
	padding: 2.5% ;
	font-size: 15vh;
	position: relative;
	color: white;
	font-family:'Rubik',sans-serif;
}

/*Photography studio*/
p{
	font-size: 4vh;
}
/*情境標題文字*/
.situation_title1{
	font-size: 4vh;
	color: white;
	padding-top: 60vh;
	padding-left: 0vw;
}

.situation_title2{
	writing-mode: vertical-rl;
	font-size: 4vh;
	color: white;
	padding-top: 10vh;
	padding-left: 35vh;
}

/*導覽列*/
nav{
	font-size: 2.5vh;
	position: absolute;
	top: 3vh;
	left: 70vw;
	color: white;
	padding: 10px;
	z-index: 10;
}

@media (max-width:599px){
	nav{
		font-size: 2vh;
		width: 100vw;
		position: absolute;
		top: 10px;
		z-index: 100;
		left: 0;
		right: 0;
	}
}

.navbar_title{
	position: relative;
	top:9vh;
	color:white;
	font-size: 5vh;
}

#home,
#About,
#Service,
#Collection,
#Contact{
	all: unset;
	cursor: pointer;
	display: inline-block;
}

/*導覽列滑過去變色*/
nav:hover {
background-color: rgba(219, 219, 219, 0.2);
}

/*about區域*/

.about_title{
	writing-mode: vertical-rl;
	text-align: center;
	font-size: 30vh;
	white-space: nowrap;
	line-height: 1;
	margin: 0; /* 確保元素之間沒有額外的外邊距 */
	transform: rotate(180deg)translate3d(0,0px,0);
}
.about_title2{
	writing-mode: vertical-rl;
	text-align: center;
	font-size: 30vh;
	white-space: nowrap;
	line-height: 1;
	letter-spacing: -0.5vh; /* 減少字母間的距離 */
	margin: 0; /* 確保元素之間沒有額外的外邊距 */
	transform:rotate(180deg)translate3d(0,0px,0);
}

@keyframes scroll {
	0%{
		transform: rotate(180deg)translate3d(0,0px,0);
	}
	100%{
		transform: rotate(180deg)translate3d(0,100%,0);
	}
}

.animate-scroll{
	animation: scroll 10s linear infinite;
}

/*關於我們文字區塊RWD元素*/
@media screen and (min-width:1601px){
	#about{
		padding-top:20vh;
		width: 60vw;
		padding: 10px;
	}
	#about_photo2{
		padding-left:10vw;
	}
	.about_p{
		font-size: 4vh;
		padding: 20px;
	}
}
@media screen and (min-width:1000px) and (max-width:1600px){
    #about{
			width: 60vw;
		}
		#about_photo2{
			padding-left:10vw
		}
}
@media screen and (min-width:600px) and (max-width:999px){
    #about{
			width: 80vw;
			overflow-wrap: break-word
		}
		#about_photo2{
			padding-left:20vw
		}
		.about_p{
			font-size: 18pt;
		}
}
@media screen and (max-width:599px){
	#about{
		width: 130vw;
		overflow-wrap: break-word;
		padding-top: 10vh;
		padding: 20px;
	}
	.about_p{
		font-size: 18pt;
	}
	#about_photo2{
		padding-left:30vw
	}
}

/*服務項目區域*/

.service_photo{
	border: 10px solid white;
	border-radius: 30px 0;
	height: 100%;
	width: 85%;
	object-fit: cover;
	top:0;
	left:0;
	box-sizing: border-box;

}
table{
	top:20vh;
	position: absolute;
	left: 15vw;
	border-spacing:120px 0;
}
.td_service_photo{
	height:60vh;
	text-align: center;
}
.td_service_text{
	text-align: center;
	font-size: 2vh;
	padding: 30px;
}
.td_service_photo img:hover {
	transform: scale(1.05);
}

/*照片牆*/

.photo-wall{
	position: absolute;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
	height: auto;
	max-height: 100vh;
	width: 100vw;
	min-width: 100vw;
	place-items:center;
	padding-left: 30vh;
	top: 12vh;

}

.photo-wall img {
	width: 100%;
	object-fit: cover;
	max-height: 100%;
	height: 35vh;
	border-radius: 5px;
	cursor: pointer;
}

/*滾輪造型*/
::-webkit-scrollbar{
	width: 15px;
	height: 12px;
	padding: 10px;
}

::-webkit-scrollbar-thumb{
	background-color: #5a5247;
	border-radius: 10px;
	border: 3px solid #f1f1f1;
}

/* 自定義滾輪滑塊的懸停效果 */
::-webkit-scrollbar-thumb:hover {
	background-color: #555; /* 滑鼠懸停時的顏色 */
}

/* 自定義滾輪軌道（滾動區域的背景） */
::-webkit-scrollbar-track {
	background-color: #f1f1f1; /* 軌道顏色 */
	border-radius: 6px; /* 圓角 */
}

/* 照片牆RWD */
@media (min-width: 1601px) and (max-width:2000px) {
	.photo-wall {
			width: 60vw;
			grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr)); /* 確保小螢幕時的最小寬度 */
			padding-left: 10vw; /* 調整內邊距以適應小屏幕 */
			overflow-y: auto;
			top: 15vh;
			bottom: 5vh;
			place-items:center;
	}
	.photo-wall img {
		height: 40vh; /* 確保在小屏幕上的高度自適應 */
		width: 100%;
		object-fit: cover;
	}
}
@media (min-width: 1001px) and (max-width:1600px) {
	.photo-wall {
			width: 60vw;
			grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr)); /* 確保小螢幕時的最小寬度 */
			padding-left: 10vw; /* 調整內邊距以適應小屏幕 */
			overflow-y: auto;
			top: 15vh;
			bottom: 5vh;
			place-items:center;
	}
	.photo-wall img {
		height: 40vh; /* 確保在小屏幕上的高度自適應 */
		width: 100%;
		object-fit: cover;
	}
}
@media (max-width: 1000px) {
	.photo-wall {
			width: 80vw;
			grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr)); /* 確保小螢幕時的最小寬度 */
			padding-left: 5vw; /* 調整內邊距以適應小屏幕 */
			overflow-y: auto;
			top: 20vh;
			bottom: 5vh;
			place-items:center;
	}

	.photo-wall img {
			height: 40vh; /* 確保在小屏幕上的高度自適應 */
			width: 100%;
			object-fit: cover;
	}
}

* {
	box-sizing: border-box;
}

.photo-wall img:hover {
	transform: scale(1.05);
	cursor: pointer; /* 鼠標指針樣式 */
}

.photo-wall-modal {
	display: none; /* 預設隱藏 */
	position: fixed; /* 固定定位 */
	z-index: 1000; /* 層級高於其他元素 */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* 允許滾動 */
	background-color: rgba(0, 0, 0, 0.8); /* 背景顏色 */
	text-align: center; /* 內容居中 */
}

.photo-wall-modal-content {
	margin: auto;
	display: block;
	width: 80%; /* 寬度為80% */
	max-width: 80vh;
	object-fit: cover;
	object-position: center;
}

.close {
	position: absolute;
	top: 10px;
	right: 25px;
	color: white; /* 字體顏色 */
	font-size: 35px;
	font-weight: bold;
	cursor: pointer; /* 鼠標指針樣式 */
}

.close:hover,
.close:focus {
	color: #bbb; /* 滑鼠懸停顏色 */
	text-decoration: none; /* 去掉下劃線 */
	cursor: pointer; /* 鼠標指針樣式 */
}

button {
	background-color: rgba(255, 255, 255, 0.5); /* 按鈕背景色 */
	border: none; /* 去掉邊框 */
	color: black; /* 字體顏色 */
	padding: 10px; /* 按鈕內邊距 */
	cursor: pointer; /* 鼠標指針樣式 */
	font-size: 20px; /* 字體大小 */
}

button:hover {
	background-color: rgba(255, 255, 255, 0.8); /* 按鈕懸停顏色 */
}

button.prev {
	position: absolute;
	top: 50%;
	left: 10px; /* 左側位置 */
	transform: translateY(-50%); /* 垂直居中 */
}

button.next {
	position: absolute;
	top: 50%;
	right: 10px; /* 右側位置 */
	transform: translateY(-50%); /* 垂直居中 */
}

/*聯絡我們*/
/*表單欄位*/
.form{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	position: relative;
	align-items:center ;
	justify-content:flex-start;
	font-size: 20px;
	overflow-y: auto;
}
.form-group{
	flex:1 1 300px
}
input{
	width: 100%;
}
.ContactSection_div{
	width: 70vw;
	position: relative;
	padding-left: 10vw;
	padding-top: 30vh;
}
@media screen and (min-width:1601px){
	.form{
		width: 40vw;
	}
	#floatingTextarea2{
		width: 40vw;
	}
}
@media screen and (min-width:701px) and (max-width:1600px){
    .form{
			width: 60vw;
			top: -10vh;
		}
	#floatingTextarea2{
			width: 50vw;
		}
		.contact-us{
			width: 500px;
			padding-left: 20vh;
		}
}
@media screen and (min-width:350px) and (max-width:700px){
    .form{
			width: 80vw;
			align-items:start;
			padding: 0;
			margin: 0;
			top: -3vh;
			padding-top: 0;
			gap: 0;
		}
	#floatingTextarea2{
		width: 80vw;
		left:10vh;
	}
	.contact-us{
		width: 500px;
		padding-left: 35vh;
	}
	.form_text{
		padding: 0px;
	}
	.ContactSection_div{
		width: 70vw;
		position: relative;
		padding-left: 10vw;
		padding-top: 20vh;
	}
}
@media screen and (max-width:349px) {
    .form{
			width: 150vw;
			height: 90vh;
			align-items:start ;
			padding: 0;
			top: -10vh;
			gap: 0;
		}
		
	#floatingTextarea2{
		width: 80vw;
		height: 5vh;
	}
	.contact-us{
		padding-left: 40vh;
		left:10vh;
	}
	.ContactSection_div{
		width: 100vw;
		height:80vh;
		position: relative;
		padding-left: 10vw;
		overflow-y: auto;
	}
}


/*Company*/
.Company{
	width: 70vw;
	position: relative;
	padding-left: 20vw;
	display: flex;
  align-items:center ;
	justify-content:flex-start;

}
.company_text{
	color:white;
	font-size: 3vh;
	padding: 20px;


}
